<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Analysis') }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .checkbox-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: 0.375rem 0.75rem;
            max-height: 150px; /* Adjust this value as needed */
            overflow-y: auto;
        }

        .checkbox-container .form-check {
            flex: 1 1 25%; /* Adjust this value to change the number of columns */
            max-width: 25%; /* Ensure the checkboxes are evenly distributed */
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="d-flex justify-content-end mb-4">
            <a href="/" class="btn btn-secondary">{{ _('Home') }}</a> <!-- Pulsante per tornare alla home -->
        </div>
        <h1 class="text-center">{{ _('Analysis') }}</h1>
        
        <form method="POST" class="mb-4">
            <div class="form-group">
                <label>{{ _('Familiare') }}</label>
                <div class="checkbox-container">
                    {% for familiare in familiari %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="familiare" value="{{ familiare }}" {% if familiare in request.form.getlist('familiare') %}checked{% endif %}>
                            <label class="form-check-label">{{ familiare }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label>{{ _('Merchant') }}</label>
                <div class="checkbox-container">
                    {% for merchant in merchants %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="merchant" value="{{ merchant }}" {% if merchant in request.form.getlist('merchant') %}checked{% endif %}>
                            <label class="form-check-label">{{ merchant }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <label>{{ _('Date Filter') }}</label>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="date_start">{{ _('Start Date') }}</label>
                        <input type="date" name="date_start" id="date_start" class="form-control" value="{{ request.form.get('date_start') }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="date_end">{{ _('End Date') }}</label>
                        <input type="date" name="date_end" id="date_end" class="form-control" value="{{ request.form.get('date_end') }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{ _('Month Filter') }}</label>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>{{ _('Years') }}</label>
                        <div class="checkbox-container">
                            {% for year in years %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="years" value="{{ year }}" {% if year in request.form.getlist('years') %}checked{% endif %}>
                                    <label class="form-check-label">{{ year }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>{{ _('Months') }}</label>
                        <div class="checkbox-container">
                            {% for month in months %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="months" value="{{ month }}" {% if month in request.form.getlist('months') %}checked{% endif %}>
                                    <label class="form-check-label">{{ month }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{ _('Amount Filter') }}</label>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <select name="amount_filter" id="amount_filter" class="form-control">
                            <option value="">{{ _('None') }}</option>
                            <option value="greater_than" {% if request.form.get('amount_filter') == 'greater_than' %}selected{% endif %}>{{ _('Greater Than') }}</option>
                            <option value="less_than" {% if request.form.get('amount_filter') == 'less_than' %}selected{% endif %}>{{ _('Less Than') }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="number" step="0.01" name="amount_value" id="amount_value" class="form-control" value="{{ request.form.get('amount_value') }}">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ _('Filter') }}</button>
                <a href="{{ url_for('analysis.analysis') }}" class="btn btn-secondary">{{ _('Reset') }}</a> <!-- Pulsante Reset -->
            </div>
        </form>

        <form action="{{ url_for('analysis.generate_pdf') }}" method="post">
            <input type="hidden" name="familiare" value="{{ request.form.getlist('familiare') }}">
            <input type="hidden" name="merchant" value="{{ request.form.getlist('merchant') }}">
            <input type="hidden" name="date_start" value="{{ request.form.get('date_start') }}">
            <input type="hidden" name="date_end" value="{{ request.form.get('date_end') }}">
            <input type="hidden" name="years" value="{{ request.form.getlist('years') }}">
            <input type="hidden" name="months" value="{{ request.form.getlist('months') }}">
            <input type="hidden" name="amount_filter" value="{{ request.form.get('amount_filter') }}">
            <input type="hidden" name="amount_value" value="{{ request.form.get('amount_value') }}">
            <button type="submit" class="btn btn-secondary mb-4">{{ _('Generate PDF') }}</button>
        </form>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ _('Familiare') }}</th>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Amount') }}</th>
                        <th>{{ _('Merchant') }}</th>
                        <th>{{ _('Description') }}</th>
                        <th>{{ _('Receipt') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.familiare }}</td>
                        <td>{{ expense.date }}</td>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.merchant }}</td>
                        <td>{{ expense.description }}</td>
                        <td>
                            {% if expense.receipt_filename %}
                                <a href="{{ url_for('get_receipt', filename=expense.receipt_filename) }}" target="_blank">{{ _('View') }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="table-secondary">
                        <td colspan="2"><strong>{{ _('Total') }}</strong></td>
                        <td colspan="4"><strong>{{ total_amount }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
