<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Check Merchant') }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">{{ _('Check Merchant') }}</h1>
        <form action="/check_merchant" method="post" class="mb-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <select name="year" class="form-control" required>
                        <option value="" disabled selected>{{ _('Select Year') }}</option>
                        {% for y in years %}
                        <option value="{{ y }}">{{ y }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select name="merchant" class="form-control" required>
                        <option value="" disabled selected>{{ _('Select Merchant') }}</option>
                        {% for m in merchants %}
                        <option value="{{ m }}">{{ m }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">{{ _('Check') }}</button>
            </div>
        </form>

        {% if year and merchant %}
        <h2 class="text-center">{{ _('Results for') }} {{ merchant }} {{ _('in year') }} {{ year }}</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ _('Familiare') }}</th>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Amount') }}</th>
                        <th>{{ _('Description') }}</th>
                        <th>{{ _('Receipt') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense[0] }}</td>
                        <td>{{ expense[1] }}</td>
                        <td>{{ expense[2] }}</td>
                        <td>{{ expense[3] }}</td>
                        <td>
                            {% if expense[4] %}
                                {% if expense[5] and expense[5].endswith('.pdf') %}
                                <a href="/receipt/{{ expense[0] }}" target="_blank">
                                    <img src="/static/pdf_icon.png" alt="PDF" class="pdf-icon">
                                </a>
                                {% else %}
                                <a href="/receipt/{{ expense[0] }}" target="_blank">
                                    <img src="/receipt_thumbnail/{{ expense[0] }}" alt="Receipt" class="thumbnail">
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h3 class="text-center">{{ _('Total Expenses') }}: €{{ "%.2f"|format(total_amount) }}</h3>
        {% endif %}
        <br>
        <div class="text-center">
            <a href="/" class="btn btn-primary">{{ _('Go Back') }}</a>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Imposta la lingua selezionata dal localStorage
            var lang = localStorage.getItem('lang');
            if (lang && lang !== "{{ get_locale() }}") {
                setLanguage(lang);
            }
        });

        function setLanguage(language) {
            if (localStorage.getItem('lang') !== language) {
                localStorage.setItem('lang', language);
                fetch(`/set_language/${language}`)
                    .then(response => {
                        if (response.ok) {
                            location.reload();
                        }
                    });
            }
        }
    </script>
</body>
</html>
