<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Expense Management') }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .thumbnail {
            width: 64px;
            height: 64px;
        }

        .pdf-icon {
            width: 64px;
            height: 64px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Imposta la lingua selezionata dal localStorage
            var lang = localStorage.getItem('lang');
            if (lang && lang !== "{{ get_locale() }}") {
                setLanguage(lang);
            }

            // Aggiungi eventi di click per i pulsanti di lingua
            document.querySelectorAll('.language-selector').forEach(function(element) {
                element.addEventListener('click', function() {
                    var language = this.getAttribute('data-language');
                    setLanguage(language);
                });
            });
        });

        function setLanguage(language) {
            if (localStorage.getItem('lang') !== language) {
                localStorage.setItem('lang', language);
                fetch(`/set_language/${language}`)
                    .then(response => {
                        if (response.ok) {
                            location.reload();
                        }
                    });
            }
        }
    </script>
</head>
<body>
    <div class="container mt-4">
        <div class="d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="languageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ _('Language') }}
                </button>
                <div class="dropdown-menu" aria-labelledby="languageMenu">
                    <a class="dropdown-item language-selector" data-language="en">English</a>
                    <a class="dropdown-item language-selector" data-language="it">Italiano</a>
                    <a class="dropdown-item language-selector" data-language="fr">Français</a>
                    <a class="dropdown-item language-selector" data-language="es">Español</a>
                </div>
            </div>
        </div>
        <h1 class="text-center">{{ _('Expense Management') }}</h1>
        <form action="/add" method="post" enctype="multipart/form-data" class="mb-4">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" id="user-input" name="user" class="form-control" placeholder="{{ _('User') }}" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="date" name="date" class="form-control" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="number" name="amount" step="0.01" class="form-control" placeholder="{{ _('Amount') }}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" id="merchant-input" name="merchant" class="form-control" placeholder="{{ _('Merchant') }}" required>
                </div>
                <div class="form-group col-md-6">
                    <textarea name="description" class="form-control" placeholder="{{ _('Description') }}" rows="1"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="file" name="receipt" accept="image/*,application/pdf" class="form-control-file">
                </div>
                <div class="form-group col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">{{ _('Add') }}</button>
                </div>
            </div>
        </form>

        <div class="mb-4 text-right">
            <a href="/summary" class="btn btn-secondary">{{ _('Summary') }}</a>
            <a href="/check_merchant" class="btn btn-secondary">{{ _('Check Merchant') }}</a>
        </div>

        <h2 class="text-center">{{ _('Expenses') }}</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ _('User') }}</th>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Amount') }}</th>
                        <th>{{ _('Merchant') }}</th>
                        <th>{{ _('Description') }}</th>
                        <th>{{ _('Receipt') }}</th>
                        <th>{{ _('Actions') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr style="background-color: {{ get_pastel_color(expense[2]) }};">
                        <td>{{ expense[1] }}</td>
                        <td>{{ expense[2] }}</td>
                        <td>{{ expense[3] }}</td>
                        <td>{{ expense[4] }}</td>
                        <td>{{ expense[5] }}</td>
                        <td>
                            {% if expense[6] %}
                                {% if expense[7] and expense[7].endswith('.pdf') %}
                                <a href="/receipt/{{ expense[0] }}" target="_blank">
                                    <img src="/static/pdf_icon.png" alt="PDF" class="pdf-icon">
                                </a>
                                {% else %}
                                <a href="/receipt/{{ expense[0] }}" target="_blank">
                                    <img src="/receipt_thumbnail/{{ expense[0] }}" alt="Receipt" class="thumbnail">
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('edit_expense', id=expense[0]) }}" class="btn btn-primary btn-sm">{{ _('Edit') }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
