<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Expense Summary') }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .year-separator {
            background-color: #000;
            height: 2px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Imposta la lingua selezionata dal localStorage
            var lang = localStorage.getItem('lang');
            if (lang && lang !== "{{ get_locale() }}") {
                setLanguage(lang);
            }
        });

        function setLanguage(language) {
            if (localStorage.getItem('lang') !== language) {
                localStorage.setItem('lang', language);
                fetch(`/set_language/${language}`)
                    .then(response => {
                        if (response.ok) {
                            location.reload();
                        }
                    });
            }
        }
    </script>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">{{ _('Expense Summary by Merchant and Year') }}</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ _('Year') }}</th>
                        <th>{{ _('Merchant') }}</th>
                        <th>{{ _('Total Expenses') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set current_year = None %}
                    {% for entry in merchant_expenses_by_year %}
                    {% if current_year != entry[0] %}
                        {% if current_year is not none %}
                        <tr class="year-separator"><td colspan="3"></td></tr>
                        {% endif %}
                        {% set current_year = entry[0] %}
                    {% endif %}
                    <tr style="background-color: {{ get_pastel_color_by_year(entry[0]) }};">
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>€{{ "%.2f" | format(entry[2]) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h1 class="text-center">{{ _('Expense Summary by User and Month') }}</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ _('User') }}</th>
                        <th>{{ _('Month') }}</th>
                        <th>{{ _('Total Expenses') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set current_year = None %}
                    {% for entry in summary %}
                    {% if current_year != entry[1].split('-')[0] %}
                        {% if current_year is not none %}
                        <tr class="year-separator"><td colspan="3"></td></tr>
                        {% endif %}
                        {% set current_year = entry[1].split('-')[0] %}
                    {% endif %}
                    <tr style="background-color: {{ get_pastel_color_by_month(entry[1]) }};">
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>€{{ "%.2f" | format(entry[2]) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <a href="/" class="btn btn-primary">{{ _('Go Back') }}</a>
    </div>
</body>
</html>
